{% extends 'base.html' %}

{% block content %}
<h1>{% block title %} Welcome to Simple Chatbot {% endblock %}</h1>
<form method="post">
    <div class="form-group">
        <label for="content">Content</label>
        <textarea name="user_input" placeholder="Ask the bot:"
                  class="form-control">{{ request.form['user_input'] }}</textarea>
    </div>
    <div class="form-group">
        <button type="submit" class="btn btn-primary">Submit</button>

        <h2>{{ answer }}</h2>
    </div>
</form>
{% endblock %}